<div id="banner" class="podcasts_banner">
        <h1>Discover your new favorite podcast</h1>
</div>
<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @students.each do |student| %>
        <%= link_to student do %>

          <li>
            <%= image_tag student.photo.url(:medium) %>
            <div class="podcast_overview">
              <h2><%= student.status_type %></h2>
              <p class="episode_count"></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
