<div id="banner" class="podcasts_banner">
        <h1>Discover what's happening in your City!</h1>
</div>
<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @students.each do |student| %>
        <%= link_to student do %>

          <li>
            <div class="podcast_overview">
              <p class="episode_count"></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
